# Default directory or file
.DS_Store
node_modules
/dist

# local environment variable file
.env.local
.env.*.local

# log file
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor directory or files
.idea
.vscode
*. his
*.ntvs*
* .njsproj
*.sln
*.sw?

_note.md